{% extends "base.html" %}


{% block content %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">NewStart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">{{ page_obj.title }}</h1>
    <p>{{ page_obj.title_description|linebreaks }}</p>
    {% if page_obj.title_btn_url %}
        <p><a class="btn btn-primary btn-lg" href="{{ page_obj.title_btn_url }}" role="button">Learn more &raquo;</a></p>
    {% endif %}
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Join us</h2>
            <p>
                <form method='POST' action=''>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Join' class='btn btn-outline-dark' />
                </form>
            </p>
        </div>
    </div>
</div>

<div class="container">
    {{ page_obj.content|safe }}
</div>

    <hr>

</main>

<footer class="container">
<p>&copy; Company 2017-2020</p>
</footer>

{% endblock content %}