{% extends "base.html" %}

<style>
{% block style %}

    .navbar-inverse {
        background-color: {{ object.nav_color }};
        border-color: {{ object.nav_color }};
    }

    {% if not object.show_nav %}
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    {% endif %}


{% endblock style %}
</style>

{% block content %}

    {% if object.show_nav %}
        {% include 'navbar.html' %}
    {% endif %}

    <main role="main">

    {% if object.layout == 'stacked' %}
        {% include 'pages/snippet/stacked-layout.html' with page_obj=object form=form %}
    {% else %}
        {% include 'pages/snippet/standard-layout.html' with page_obj=object form=form %}
    {% endif %}

    </main>

{% endblock content %}