{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   {% include 'head_css.html' %}

    <style>
        {% block style %}
        {% endblock style %}
    </style>

    <title>Hello, world!</title>
  </head>
  <body>
    {% if messages %}
      <div class="alert alert-warning mb-0">
        <div class="container">
          {% for message in messages %}
            {{ message }} <br/>
          {% endfor %}
        </div>
      </div>      
    {% endif %}

    {% block content %}
    {% endblock %}

    <hr>
    
    <footer class="container">
    <p>&copy; Company 2017-2020</p>
    </footer>

    <!-- Optional JavaScript -->
    
    <!-- adding custom jQuery script -->
  <script>
    $(document).ready(function() {
      var $marketingModal = $("#signUpModal");
      var didDismissModal = false;
      var doShowMarketing = false;

      doShowMarketing = $(".show-marketing").attr('show') == 'true';
      console.log(doShowMarketing);

      $("body").mouseleave(function() {
        if (!didDismissModal){
          $marketingModal.modal()
        }
      })

      $marketingModal.on("hidden.bs.modal", function(e){
        didDismissModal = true;
      })

      $(".join-form").submit(function(e) {
          e.preventDefault();
          var this_ = $(this);
          console.log($(this).serialize());
          var joinEmailAPIEndpoint = "{% url 'email-join' %}";
          $.ajax({
              method: "POST",
              data: $(this).serialize(),
              url: joinEmailAPIEndpoint,
              success: function(data) {
                  didDismissModal = true;
                  $marketingModal.modal('hide');
                  this_.find(".join-form").parent().html("<p class='lead'>Success! Thanks for joining us!</p>");
              },
              error: function(data){
                  this_.find(".join-form-alert").fadeIn();
                  this_.find(".join-form-error").text(data.responseJSON.email[0])
              }
          })
      })
    })

    
  </script>
    {% include 'js.html' %}
    <script>
      $(document).ready(function() {
        {% block jquery %}{% endblock %}
      })
    </script>

    {% include 'newsletter/modal.html' %}
  </body>
</html>